/* Responsive */
@media (max-width: 768px) {
    header {
        height: 70vh;
        background-position: top;
    }

    .contenedor {
        width: 95%;
    }

    .menu .contenedor {
        flex-direction: column;
        align-items: flex-start;
    }

    .lista-menu {
        flex-direction: column;
        width: 100%;
    }

    .lista-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #contenedor-titulo-flex {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .contenedor-titulo h1 {
        font-size: 50px;
    }

    .contenedor-titulo h2 {
        font-size: 20px;
    }

    .contenedor-tarjetas {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 90%;
    }

    .banner {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .banner-text {
        max-width: 100%;
        text-align: center;
    }

    .banner-image {
        max-width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .boton-flotante {
        font-size: 16px;
        padding: 8px 12px;
    }

    .banner-text h1 {
        font-size: 2em;
    }

    .banner-text p {
        font-size: 1em;
    }

    .faq-lista {
        padding: 0 10px;
    }

    footer {
        font-size: 16px;
    }
}
