/* General */
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f4f0ea;
}

header {
    background: linear-gradient(#000000c3, #00000071), url(../imagenes/home/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.boton-flotante {
    margin: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #225327b7;
    color: white;
    padding: 10px 15px;
    border-radius: 1000%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;
}
.boton-flotante2 {
    margin: 10px;
    position: fixed;
    bottom: 80px;
    right: 10px;
    background-color: #e87f00b7;
    color: white;
    padding: 10px 15px;
    border-radius: 1000%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.boton-flotante:hover {
    background-color: #096304a8;
    transform: scale(1.1);
}
.boton-flotante2:hover {
    background-color: #d06310e0;
    transform: scale(1.1);
}
.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    text-align: center;
}

/* Menú */
.menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-menu li {
    margin-right: 15px;
}

.lista-menu li a {
    color: #ffffff;
    padding: 14px 24px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.lista-menu li a:hover {
    color: #ff6106;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

/* Título */
#contenedor-titulo-flex {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.contenedor-titulo h1, .contenedor-titulo h2 {
    margin: 0;
    color: #ffffff;
}

.contenedor-titulo h1 {
    font-size: 80px;
}

.contenedor-titulo h2 {
    font-size: 30px;
}

/* Tarjetas */
#tarjetas {
    margin: 60px 0;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f1ededc9;
    border: 2px solid #333;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.contenedor-img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.contenedor-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h2 {
    font-size: 22px;
    color: #333;
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    color: #000000;
    margin: 0 15px 15px;
}

/* Botones */
.buttoni, .buttonn, .button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.buttoni {
    background-color: #093400c3;
    color: #fff;
}

.buttoni:hover {
    background-color: #02690e;
}

.buttonn {
    background-color: #ffffff9d;
    color: #056100;
}

.buttonn:hover {
    background-color: #ffffff;
}

.button {
    background-color: #093400c3;
    color: #fff;
}

.button:hover {
    background-color: #1b6d00;
}

/* Preguntas frecuentes */
#faq {
    background: linear-gradient(100deg, #0000008c, #000000cf),  url(../imagenes/home/3.jpg);
    background-size: cover;
    padding: 50px 0;
}

#faq h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.faq-lista {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.faq-lista li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-lista strong {
    display: block;
    font-size: 1.2em;
    color: #ffffff;
}

.faq-lista p, .faq-content {
    margin: 5px 0 0;
    color: #ffffff;
    font-size: 0.9em;
    transition: all 0.3s ease;
}

.faq-content {
    display: none;
}

.faq-item.open .faq-content {
    display: block;
}

.faq-item {
    cursor: pointer;
    transition: color 0.3s ease;
}
/* foster */
footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    background-color: #fff7f1;
    color: rgb(3, 0, 0);
    font-size: 20px;
}

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 10px;
    background: linear-gradient(to right, #000000, #072200, #025202);
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner-text {
    max-width: 50%;
    text-align: left;
}

.banner-text h1 {
    color: #f1ebeb;
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: bold;
}

.banner-text p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #f5f0f0;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.download-buttons a {
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(252, 244, 244, 0.766);
    transition: transform 0.2s, box-shadow 0.2s;
}

.download-buttons a:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(244, 239, 239, 0.771);
}

.banner-image {
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.banner-image img {
    max-width: 100%;
    height: auto;
}
/* Estilo del menú */
.hamburger {
    align-items: center;
    display: block;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px; /* Ajusta la posición para que quede a la izquierda */
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #ff5900c9;
    margin-bottom: 5px;
    border-radius: 2px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        height: 70vh;
    }

    .contenedor-titulo h1 {
        font-size: 50px;
    }

    .contenedor-titulo h2 {
        font-size: 22px;
    }

    .contenedor-tarjetas {
        flex-wrap: wrap;
        gap: 15px;
    }

    .card {
        width: 90%; }
        
    .menu .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .lista-menu {
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .banner-text {
        max-width: 100%;
        text-align: center;
    }

    .banner-image {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.modal-content p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #555;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff5757;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Móviles */
@media (max-width: 480px) {
    header {
        height: 100vh;
    }

    .contenedor-titulo h1 {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .contenedor-titulo h2 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .menu .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .lista-menu li {
        margin: 5px 0;
    }

    .banner {
        width: 100%;
        padding: 20px;
    }

    .banner-text h1 {
        font-size: 1.5em;
    }

    .banner-text p {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        align-items: center;
        display: flex;
        top: 20px;
        left: 20px; 
        position: absolute;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #000;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 100;
    }

    #nav-menu.active {
        left:20px;
        display: flex;
    }

    .lista-menu {
        flex-direction: column;
    }

    .lista-menu li {
        margin: 10px 0;
    }

    .lista-menu a {
        color: #000;
        text-decoration: none;
    }
}
