/* General */
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f4f0ea;
}

header {
    background: linear-gradient(#000000ad, rgba(0, 0, 0, 0.313)), url(../imagenes/nosotros/encabezado.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}

/* Menú */
.menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu {
    display: flex;
    flex-wrap: wrap;
}

.lista-menu li {
    list-style: none;
    margin-right: 15px;
}

.lista-menu li a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.lista-menu li a:hover {
    color: #ff6106;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

/* General Container */
.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    text-align: center;
}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.contenedor-titulo h1 {
    color: #ffffff;
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.contenedor-titulo h2 {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

/* Sección "Quienes Somos" */
#Quienes-somos {
    background-color: #f3ece5;
    padding: 40px;
    min-height: 75vh;
}

.contenedorH h1 {
    font-size: 35px;
    font-weight: 600;
    color: #ff5500;
    margin-bottom: 20px;
}

.contenido-historia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.texto-historia {
    flex: 1;
    font-size: 18px;
    color: #333333;
    text-align: justify;
    padding: 20px;
    line-height: 1.6;
}

.contenedor-img {
    max-width: 400px;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.contenedor-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Sección ¿Por qué nosotros? */
#porque-nosotros {
    background-color: #dfd1c3;
    padding: 40px;
    margin: 60px 0;
    border-radius: 10px;
    border: 2px solid #ff6106;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#porque-nosotros:hover {
    transform: scale(1.02);
}

#porque-nosotros h1 {
    font-size: 30px;
    font-weight: 600;
    color: #ff6106;
    margin-bottom: 20px;
    text-align: center;
}

.texto-historia p {
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
}

/* Tarjetas */
#tarjetas {
    margin: 40px 0;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-color: #f1ededc9;
    border: 2px solid #333;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #000000;
    margin: 0 10px 10px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .contenido-historia {
        flex-direction: column;
    }

    #Quienes-somos, #porque-nosotros {
        padding: 20px;
    }

    .contenedorH h1 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .contenedorH h1 {
        font-size: 24px;
    }

    .texto-historia {
        font-size: 16px;
    }

    .card {
        max-width: 250px;
    }

    .contenedor-titulo h1 {
        font-size: 45px;
    }

    .contenedor-titulo h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .contenedor-titulo h1 {
        font-size: 35px;
    }

    .contenedor-titulo h2 {
        font-size: 16px;
    }

    #porque-nosotros h1 {
        font-size: 22px;
    }

    .card {
        max-width: 200px;
    }
}
